.page{
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: row;
}
.sidebar{
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.pageContent{
    width: 100%;
    height: 100%;
    flex: 7;
    display: flex;
}
.sidebarItem{
    width: 100%;
    height: 100%;
    text-align: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;

}
.sidebarButton{
    text-decoration: none;
    color: #ff8600;
    font-size: 16pt;
}
