# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# log files -- not to be added to github
#    not README

# all files and directories from this point down
*

# keep these files in github (exceptions)
!\.gitignore
!README\.txt

# end of .gitignore